* {
    font-family: 'Rubik', sans-serif;
}

#outerBox{
        margin: -10px -10px -10px -10px;
        height: 100vh;
    }

#firstPart {
    margin: -10px -10px -10px -10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
}

#discountBar {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    background-color: #00aa8a;
    color: white;
    padding: 14px 0 0 0;
}

#discountBar>span {

    font-weight: 300;
    cursor: pointer;
}

.secondbar {
    display: grid;
    /* width: 100%; */
    height: 100px;
    display: grid;
    grid-template-columns: 80% 20%;
    /* border: 1px solid black; */
}

.align {
    margin: 28px 0 0 650px;
    cursor: pointer;
    
}

.help{
    font-size: 15px;
    font-weight: 300;
    padding: 36px 0 0 130px;
    box-sizing: border-box;
}
.colour1{
    color: #00a88e;
}






.secondPart{
    margin: 40px 0 0 0 ;
    /* overflow: scroll; */
    display: grid;
    grid-template-columns: 65% 32%;
    gap: 3%;
    height: 450px;
}
.iteams{
    margin: 0 0 0 4%;
    /* height: 400px; */
    
}
.yourCart{
    height: 60px;
    display: grid;
    grid-template-columns: 60px auto;
    
}

.cartimgbox{
    border-radius: 50%;
    border: 1px solid #00aa8a;
}

.text1{
    font-size: 20px;
    font-weight: 400;
    padding: 18px 0 0 15px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 30px;
}
.img{
 width: 80%;
 height: 65%;   
 border-radius: 50%;
 margin: 9px 0 0 6px
}


#iteamsList{
    width: 94%;
    display: grid;
    grid-template-columns:  150px 270px 120px 170px 190px;
    /* height: 200px; */
    margin: 10px auto auto 0px;
    border-left: 1px solid gray;
}
.img1{
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    padding: 5px 0 0 10px;
    /* margin: 5px; */
}
.imgBox{
    height: 192.5px;
    width: 135px;
}

.brandName{
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
}
.proName{
    margin: 5px;
    font-weight: 300;
    font-size: 14px;
}
.bottomDiv{
    margin: 125px 0 0 0 ;
    height: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 13px;
    
}
.rightBorder{
    border-left: 1px solid black;
    padding-left: 25px;
}
 

.sizeText{
    width: 40%;
    margin: 10px auto auto auto ;
    font-weight: 400;
    font-size: 15px;
}

.sizeInput{
    width: 40%;
    margin: 10px auto auto auto ;
    font-weight: 400;
    font-size: 15px;
    
}
.input{
    width: 70%;
    height: 22px;
}


.qtyBox{
     width: 60%;
    margin: 10px auto auto auto ;
    font-weight: 400;
    height: 30px;
    display: grid;
    grid-template-columns: 30px auto 30px  ;
}

.qtyBox>div:nth-child(1),
.qtyBox>div:nth-child(3){
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding: 3px 0 0 0;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #00aa8a;
}
.qtyBox>div:nth-child(2){
    font-size: 15px;
    font-weight: 500;
     padding: 5px 0 0 0;
     text-align: center;
}
.qtyText{
    width: 40%;
    margin: 10px auto auto auto ;
    font-weight: 400;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0 0 0 18px;
}



.priceDiv{
    margin: 10px 0 0 0;
    text-align: right;
    font-size: 15px;
    color: #d3d3d3;
}
.font{
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.discountBox{
    text-align: right;
    color: red;
    font-weight: 300;
    font-size: 15px;
      margin-top: 5px;
}

.priceB{
    font-size: 11px;
    font-weight: 400;
    text-align: right;
    margin-top: 5px;
}



.continueDiv{
    margin: 0 0 0 4%;
    
    height: 150px;
}

.continueBox{
    width: 35%;
    height: 50px;
    border-radius: 5px;
    background-color: #00a88e;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    margin:30px auto auto  auto;
    cursor: pointer;
}


.freeD{
    width: 25%;
    margin: 15px auto 15px auto ;
    height: 20px;
    font-weight: 400;
    font-size: 13px;
}
.weight{
    font-weight: 500;
}

.shopnow{
    font-size: 14px;
    color: #00a88e;
    width: 25%;
    margin: 5px auto auto auto ;
    height: 20px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
}


.coupon{
    height: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.apply{
     display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
}
.cimg{
    width: 40%;
    height: 40%;
    padding: 13px 0 0 13px;
}

.atext{
    font-size: 17px;
    font-weight: 300;
    box-sizing: border-box;
    padding: 12px 0 0 13px;
}

.ainput{
    border: 1px solid white;
    outline: none;
    height: 20px;
    font-size: 17px;
    margin: -2px 0 0 0;
    
}

/* div{
    border: 1px solid black;
} */

.abox{
    border: 1px solid #00a88e;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    margin: 8px 0 0 70px;
    font-size: 14px;
    text-align: center;
    color: #00a88e;
    box-sizing: border-box;
    padding: 10px 0 0 0;
    cursor: pointer;
    font-weight: 200;
}
.abox:hover {
    color: black;
}


.orderSum{
    margin: 10px 0 0 0 ;
    background-color: #f5f5f5;
    height: 300px;
    width: 95%;
}

.osText{
    padding-top: 25px ;
    text-align: center;
    font-size: 16px;
}
.ov{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 20px;
    margin: 20px auto auto auto ;
    width: 93%;
    font-size: 15px;
    font-weight: 300;
}
.pd{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 20px;
    margin: 10px auto auto auto ;
    width: 93%;
    font-size: 15px;
    font-weight: 300;
}
.ship{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 30px;
    margin: 10px auto auto auto ;
    width: 93%;
    font-size: 15px;
    font-weight: 300;
    border-bottom: 1px solid #ddd;
    
}
.texta{
    text-align: right;
}
.ot{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 20px;
    margin: 10px auto auto auto ;
    width: 93%;
    font-size: 17px;
    font-weight: 400;
}


.save{
    width: 100%;
    height: 20px;
    margin: 15px auto auto auto ;
    font-size: 14px;
    color: #00a88e;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
}

.re{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -3px;
}
@media (min-height: 760px) {
#outerPart {
    height: 800px;
    }
}